body {
	background-image: url(C:\Users\nickr\Documents\GitHub\backgrn.jpg);	
}
h1 {
	color: grey;
	text-align: center;
	margin-top: 40px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Righteous', cursive;
	font-size: 6em;
	text-shadow: 2px 2px #FFFFF6;
}

.btn {
	color: black;
	text-transform: uppercase;
	font-family: 'Righteous', cursive;
	font-size: 110%;
	font-weight: 700;
	border-radius: 300px;
	padding: 2em;
}

.btn-primary {
	background-color: #F6F4FE;
	border-color: #AAA8B3;
}

.btn-primary:hover {
	background-color: #F6F4FE;
	color: #171819;
	border-color: #AAA8B3;
	border-width: 5px;
	cursor: pointer;
}
.container{
	display:flex;
	margin-top: 500px;
	margin-right:-50px;
}

